/* Add these styles to your View.css file */

.site-footer {
    width: 100%;
    z-index: 10;
  }
  
  /* Ensure the page content fills the available space */
  body, html, #root {
    height: 100%;
  }